@page
@model gis_portfolio.Pages.Posts.IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    
    <div class="column">
        <img class="collage" src="/css/Resources/Baboquivari.jpg">
    </div>
    <div class="column">
        <img class="collage" src="/css/Resources/GrassyLake.jpg">
    </div>

    <div class="column">
        <img class="collage" src="/css/Resources/MuleCreek.jpg">
    </div>
    <div class="column">
        <img class="collage" src="/css/Resources/MonteAlban.jpg">
    </div>
   

</div>
<div class="main">
    <ul id="content">
    @foreach (var item in Model.Post)
    {
        int id = item.ID;
        <li class="post">
            <a href="/Posts/Details?id=@id" class="pic-link">
                <img class="post-img" src=@Url.Content(item.photo) alt="test" />
            </a>
            <a class="post-title" href="/Posts/Details?id=@id" title="@Html.DisplayName(item.Title)"> @Html.DisplayName(item.Title)</a>
            <p class="author">@Html.DisplayName(item.display_name)</p>

        </li>
    }
    </ul>
</div>
    


<style>
    .carousel-inner {
        height: 300px;
        width: 100%;
        background-color: white;
    }

    .carousel-item img {
        width: 100%;
        height: 300px;
    }

    .post-img {
        margin: 10px 1px 10px;
        height: 150px;
        width: 250px;
    }
    .post {
        border: 0 solid black;
        display: inline-block;
        float: left;
        height: 250px;
        margin: 8px;
        overflow: hidden;
        position: relative;
        width: 286px;
    }
    .post-title {
        display: block;
        padding-top: 5px;
        text-align: left;
        width: 286px;
        overflow: hidden;
        white-space: nowrap;
    }
    .author{
        white-space: nowrap
    }
    .content {
        font-size: 0.875em;
        line-height: 1.71429em;
        margin-bottom: 1.5em;
        list-style-position: inside;
        margin-top: 5px;
        padding: 0;
        float:left;
    }
    .main{
        float:left;
        display:inline-block;
        width:100%
    }
    .column {
        float: left;
        width: 25%;
        padding: 5px;
    }
    .collage{
        width: 100%;
    }
    .row {
        width: 100%;
    }

    /* Clear floats after image containers */
    .row::after {
        content: "";
        clear: both;
        display: table;
        
    }

    

</style>



