@page
@model gis_portfolio.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile Page";
}
<style>
    .mainBanner{
        background-color: rgb(245,130,42);
    }

    .profilePic{
        text-align: right;
    }
</style>

<!-- <h1>@ViewData["Title"]</h1> -->

<div class="mainBanner">
    <h1 class="display-4">Profile</h1>
    <img class="profilePic" src=""/>
    <p>Authors</p>
</div>

<h2>Projects</h2>
<div class="container">
    <p>put table of posts by author here pls Connor</p>

</div>
