@page
@model gis_portfolio.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile Page";
}

<p>
    <a asp-page="Posts/Create">Create New Post</a>
</p>
<style>
    .col-md-6 {
        background-color: rgb(245,130,42);
    }

    .avatar {
        /*vertical-align: middle;*/
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    #pic {
        text-align: right;
    }

    .row{
        outline-color: black;
        outline-style: inset;
        outline-width: thin;
    }
    
</style>

<!-- <h1>@ViewData["Title"]</h1> -->
<div class="row">
    <div class="col-sm-6">
        <h1 class="col-sm-4">Profile</h1>
        <p class="col-sm-4">Name of Person</p>
    </div>
    <div id="pic" class="col-sm-6">
        <img id="profpic" class="avatar" src="~/css/Resources/road.jpg" />
    </div>
</div>

<div id="projTable "class="container">
    <h4>Projects</h4>
    <p>Connor pls add a table of posts per author here</p>
</div>
    






