@page
@model gis_portfolio.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile Page";
}
<style>
    .text-left{
        background-color: rgb(245,130,42);
    }
</style>

<!-- <h1>@ViewData["Title"]</h1> -->

<div class="text-left">
    <h1 class="display-4">Profile</h1>
    <p>Authors</p>
</div>

<p>This is a filler for the profile page</p>
